@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', 'Verdana', sans-serif;
  font-weight: 400;
  font-size: calc(1em + 0.8vw);
}

h1, h2, h3 {
  font-family: 'Ubuntu', 'Helvetica', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
}

h1, h2 {
  font-size: calc(1.2em + 1.2vw);
}

h3 {
  font-size: calc(1em + 1vw);
}

nav {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  position: fixed;
  width: 100%;
  height: 10vh;
  background-color: #fcfcfc;
  overflow: hidden;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  z-index: 1;
}

.menu.shadow {
  -webkit-box-shadow: 0 -7px 30px 1px black;
          box-shadow: 0 -7px 30px 1px black;
}

.menu.show {
  height: 100%;
}

.menu__logo, .menu__mobile-menu-btn, .menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.menu__logo {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: calc(1em + 0.8vw);
  color: #000;
}

.menu__mobile-menu-btn {
  padding: 0.3em 0.8em;
  border: 2px solid #315DCE;
  font-weight: 400;
  text-transform: lowercase;
  color: #315DCE;
}

.menu__link {
  display: none;
  position: relative;
  width: 100%;
  height: 16%;
  color: #315DCE;
  overflow: hidden;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.menu.show .menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  -webkit-transform: translateY(103%);
          transform: translateY(103%);
  z-index: -2;
}

.menu__link.active-link::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.main-content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #fcfcfc;
  z-index: -1;
}

.parallax-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #fcfcfc;
}

.content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100vh;
  padding-top: 10vh;
  margin-bottom: 50vh;
}

.content-section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  width: 80%;
  height: 80%;
  background-color: #fff;
  -webkit-box-shadow: 0 7px 30px -1px rgba(150, 170, 180, 0.5);
          box-shadow: 0 7px 30px -1px rgba(150, 170, 180, 0.5);
}

.content-section__head {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

.content-section__text {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
}

.main-content .content-section:nth-child(odd) .content-section__wrapper {
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

.main-content .content-section:nth-child(even) .content-section__wrapper {
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

.end-credits {
  width: 100%;
  background-color: transparent;
  z-index: 2;
}

.end-credits__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.end-credits__text {
  text-align: center;
  width: 80%;
}

.end-credits__img {
  width: 80%;
  height: 70px;
}

.end-credits__wrapper:nth-child(even) .end-credits__text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.footer {
  height: 100vh;
  width: 100%;
  padding-top: 10vh;
  background-color: #66BCCC;
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .menu__mobile-menu-btn {
    display: none;
  }
  .menu__logo, .menu__link {
    height: 100%;
    padding: 0 1em;
  }
  .menu__logo {
    font-size: calc(0.85em + 0.8vw);
  }
  .menu__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: #315DCE;
  }
  .menu__link:hover {
    -webkit-transform: translateY(-6px) rotate(3deg);
            transform: translateY(-6px) rotate(3deg);
    color: #315DCE;
  }
  .menu__link.active-link:hover {
    -webkit-transform: none;
            transform: none;
  }
  .content-section__wrapper {
    width: 70%;
    height: 70%;
  }
}
/*# sourceMappingURL=style.css.map */