@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Ubuntu Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: calc(3.5em + 1vw);
}

h2 {
  font-family: "Ubuntu Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: calc(2em + 1vw);
}

h3 {
  font-family: "Ubuntu Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: calc(1.6em + 1vw);
}

p {
  font-family: "Roboto", "Verdana", sans-serif;
  font-weight: 400;
  font-size: calc(1.2em + 1vw);
}

body {
  background-color: #2B3133;
}

h1, h2, h3, h4, h5, h6 {
  color: #dba800;
}

p {
  color: #c4c4c4;
}

strong {
  font-weight: 900;
}

hr {
  border: none;
  height: 0.5em;
  width: 80%;
  margin: 50px auto;
  background-image: linear-gradient(to right, rgba(255, 197, 7, 0.1), #ffc507, rgba(255, 197, 7, 0.1));
  text-align: center;
}

hr:after {
  content: "//";
  display: inline-block;
  position: relative;
  top: -0.3em;
  font-size: 2em;
  padding: 0 0.25em;
  background: #2B3133;
  font-family: "Roboto", "Arial", sans-serif;
}

i {
  color: white;
  text-decoration: none;
  font-size: 2em;
}

.arrow {
  text-align: center;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
header {
  min-height: 100vh;
}

header h1, header h2 {
  text-align: center;
  padding: 13% 0;
}

header span#poland {
  background: -webkit-linear-gradient(white 34%, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main section {
  padding: 10% 10%;
  text-align: center;
}

main section h3 {
  margin: 50px 0;
  text-align: center;
}

main section p {
  text-align: center;
  padding: 7% 0;
}

main section button {
  margin: 25px 0;
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

main section button:hover,
main section button:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

main section button:active {
  opacity: 0.5;
}

footer {
  padding: 10% 14%;
  text-align: center;
  background-color: #000000;
}

@media screen and (min-width: 1024px) {
  body {
    max-width: 67%;
    margin: 0 auto;
  }
}
