.menu
	display: flex
	flex-wrap: wrap
	justify-content: space-around
	align-content: space-evenly
	position: fixed
	width: 100%
	height: $menu-height // _variables
	background-color: #fcfcfc
	overflow: hidden
	transition: all .4s ease
	z-index: 1
	&.shadow
		box-shadow: 0 -7px 30px 1px black
	&.show
		height: 100%
	&__logo,
	&__mobile-menu-btn,
	&__link
		display: flex
		justify-content: center
		align-items: center
		text-decoration: none
	&__logo
		font-weight: 700
		letter-spacing: 1px
		font-size: calc(1em + 0.8vw)
		color: #000
	&__mobile-menu-btn
		padding: 0.3em 0.8em
		border: 2px solid #315DCE
		font-weight: 400
		text-transform: lowercase
		color: #315DCE
	&__link
		display: none
		position: relative
		width: 100%
		height: 16%
		color: #315DCE
		overflow: hidden
		transition: all .2s ease
	&.show &__link
		display: flex
	&__link.active-link
		// color: #000
	// Slide colored background of the link.
	&__link::before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		transition: all .6s ease
		transform: translateY(103%)
		z-index: -2
	&__link.active-link::before
		transform: translateY(0)