// ------ Import Fonts ------

// Ubuntu Sans
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap')
// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500;1,700&display=swap')



// ------ Headers ------

h1
	font-family: 'Ubuntu Sans', 'Arial', sans-serif
	font-weight: 700
	font-size: calc(3.5em + 1vw)

h2
	font-family: 'Ubuntu Sans', 'Arial', sans-serif
	font-weight: 700
	font-size: calc(2em + 1vw)

h3
	font-family: 'Ubuntu Sans', 'Arial', sans-serif
	font-weight: 700
	font-size: calc(1.6em + 1vw)



// ------ Paragraphs ------

p
	font-family: 'Roboto', 'Verdana', sans-serif
	font-weight: 400
	font-size: calc(1.2em + 1vw)